<!DOCTYPE HTML><html>
<head>
  <title>Registre de dispositiu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="icon" href="data:,">
  <style>
    .topnav { overflow: hidden; background-color: #4B1D3F; color: white; font-size: 1.7rem; }
  </style>
  <script src="/static/js/jquery-3.6.1.min.js"></script>
</head>
<body>
  <div class="topnav">
    <h3>Registre de dispositiu</h3>
  </div>
  <div class="content">
    <h2>Dispositiu registrat correctament!<br>
      L'aliés del vostre dispositiu és: {{device}}<br>
      Ben aviat podràs consultar les lectures a la plana principal del projecte.<br>
      Gràcies per la teva col·laboració.</h2>
  </div>
</body>
</html>