<!DOCTYPE HTML><html>
<head>
  <title>Llista de dispositius</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="icon" href="data:,">
  <style>
    html {font-family: Arial; display: inline-block; text-align: center;}
    p {  font-size: 1.2rem;}
    body {  margin: 0;}
    a {text-decoration: none; }
    .topnav { overflow: hidden; background-color: #4B1D3F; color: white; font-size: 1.7rem; }
    .content { padding: 20px; }
    .card { background-color: white; box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5); }
    .cards { max-width: 700px; margin: 0 auto; display: grid; grid-gap: 2rem; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); }
    .reading { font-size: 2.8rem; }
    .card.device, a { color: #0e7c7b; }
  </style>
  <script src="static/js/jquery-3.6.1.min.js"></script>
</head>
<body>
  <div class="topnav">
    <h3>Lista de dispositius</h3>
  </div>
  <div class="content">
    <div class="cards">
      {% for device in devices_list %}
        <div class="card device">
          <a href="/showDeviceLastData?device_id={{device.id}}">
            <h4><i class="fas fa-satellite-dish"></i></i> {{device.id if device.alias== None else device.alias}}</h4>
          </a>
            <p>
              <span class="reading">
                <span id="server_timestamp">{{device.server_timestamp.strftime('%d/%m/%Y %H:%M:%S')}}</span>
              </span>
            </p>
        </div>
        {% endfor %}
    </div>
  </div>
</body>
</html>