<!DOCTYPE HTML><html>
<head>
  <title>Registre de dispositiu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="icon" href="data:,">
  <style>
    .topnav { overflow: hidden; background-color: #4B1D3F; color: white; font-size: 1.7rem; }
    #geoError{color: red;}
  </style>
  <script src="/static/js/jquery-3.6.1.min.js"></script>
  <script src="/static/js/geolocation.js"></script>
</head>
<body>
  <div class="topnav">
    <h3>Registre de dispositiu</h3>
  </div>
  <div class="content">
    <h2>Benvinguda/Benvingut a la Xarxa de sensors de la plataforma Tanquem Can Mata!</h2>
    <p>Si has arribat fins aquí és perquè has aconseguit configurar correctament el teu sensor.Ara el que hem de fer és registrar algunes característiques per poder fer-ne un seguiment.<br>
      Si us plau, emplena els següents camps.
    </p>
    <form method="post" >
      <div class="row">
        <div class="mb-3 form-floating col">
          <select name="town" class="form-select form-select-sm" aria-describedby="townHelp">
            <option selected value=-1>Selecciona una població</option>
            <option value="COL">Collbató</option>
            <option value="HOS">Els Hostalets de Pierola</option>
            <option value="ESP">Esparraguerra</option>
            <option value="MAS">Masquefa</option>
            <option value="PIE">Piera</option>
          </select>
          <label for="town" class="form-label">Població</label>
          <small id="townHelp" class="form-text text-muted">
            La població i el nom del Carrer es faran servir per generar un alias per al teu dispositiu (ex: POB-CAR-01)
          </small>
        </div>
        <div class="mb-3 form-floating col">
          <input type="text" name="street" placeholder="Carrer" class="form-control" required
                value="{{ request.form['street'] }}"></input>
          <label for="street" class="form-label">Carrer</label>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 form-floating col">
          <input type="text" name="lat" id="lat" placeholder="41.8330371" class="form-control" required
                value="{{ request.form['lat'] }}"></input>
          <label for="lat" class="form-label">Latitud*</label>
        </div>
        <div class="mb-3 form-floating col">
          <input type="text" name="long" id="long" placeholder="1.5276657" class="form-control" required
                aria-describedby="elevationHelp"
                value="{{ request.form['long'] }}"></input>
          <label for="long" class="form-label">Longitud*</label>
          <small id="longHelp" class="form-text text-muted">*En graus decimals</small>
        </div>
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-secondary" onclick="getLocation()">Obtenir ubicació</button>
            <div id="geoError"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 form-floating col">
          <select name="orientation" class="form-select form-select-sm">
            <option selected value="-1">Selecciona l'orientació</option>
            <option value="NW">Nord oest</option>
            <option value="N">Nord</option>
            <option value="NE">Nord est</option>
            <option value="E">Est</option>
            <option value="SE">Sud est</option>
            <option value="S">Sud</option>
            <option value="SW">Sud oest</option>
            <option value="W">Oest</option>
          </select>
          <label for="orientation" class="form-label">Orientació</label>
        </div>
        <div class="mb-3 form-floating col">
          <input type="text" name="elevation" placeholder="metres" class="form-control" required
                  aria-describedby="elevationHelp"
                  value="{{ request.form['elevation'] }}"></input>
          <label for="elevation" class="form-label">Elevació</label>
          <small id="elevationHelp" class="form-text text-muted">Elevació relativa el nivell del terra</small>
        </div>
      </div>
      <div class="mb-3 form-floating">
        <input type="email" name="email" placeholder="nom@exemple.cat" class="form-control" required
              aria-describedby="emailHelp"
                value="{{ request.form['email'] }}"></input>
        <label for="email" class="form-label">E-mail de Contacte</label>
        <small id="emailHelp" class="form-text text-muted">Únicament farem servir aquesta adreça per notificar-te incidències relacionades amb el sensor</small>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
      </div>
        <p>* Aquesta informació serà visible en l'apartat públic del web</p>
      </div>
    </form>
  </div>
</body>
</html>