<!DOCTYPE HTML><html>
<head>
  <title>LAST DATA</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="icon" href="data:,">
  <style>
    html {font-family: Arial; display: inline-block; text-align: center;}
    p {  font-size: 1.2rem;}
    body {  margin: 0;}
    .topnav { overflow: hidden; background-color: #4B1D3F; color: white; font-size: 1.7rem; }
    .content { padding: 20px; }
    .card { background-color: white; box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5); }
    .cards { max-width: 700px; margin: 0 auto; display: grid; grid-gap: 2rem; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); }
    .reading { font-size: 2.8rem; }
    .card.temperature { color: #0e7c7b; }
    .card.humidity { color: #17bebb; }
    .card.pressure { color: #3fca6b; }
    .card.gas { color: #d62246; }
  </style>
  <script src="static/js/jquery-3.6.1.min.js"></script>
</head>
<body>
  <div class="topnav">
    <h3>Última lectura</h3>
  </div>
  <div class="content">
    <div class="cards">
        <div class="card timestamp">
            <h4><i class="fas fa-clock"></i> Data</h4><p><span class="reading"><span id="server_timestamp"></span></span></p>
        </div>
      <div class="card temperature">
        <h4><i class="fas fa-thermometer-half"></i> Temperatura</h4><p><span class="reading"><span id="temperature"></span> &deg;C</span></p>
      </div>
      <div class="card humidity">
        <h4><i class="fas fa-tint"></i> Humitat</h4><p><span class="reading"><span id="humidity"></span> &percnt;</span></p>
      </div>
      <div class="card pressure">
        <h4><i class="fas fa-angle-double-down"></i> Pressió</h4><p><span class="reading"><span id="pressure"></span> hPa</span></p>
      </div>
      <div class="card gas">
        <h4><i class="fas fa-wind"></i> Resistència</h4><p><span class="reading"><span id="gas"></span> K&ohm;</span></p>
      </div>
    </div>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on("newData-{{device.id}}", (res) => {
        //update data
        $('#server_timestamp').text(res.server_timestamp)
        
        temperature = parseFloat(res.temperature)
        $('#temperature').text(temperature.toFixed(2))
        
        humidity = parseFloat(res.humidity)
        $('#humidity').text(humidity.toFixed(2))
        
        pressure = parseFloat(res.pressure)
        $('#pressure').text(pressure.toFixed(2))
        
        $('#gas').text(res.gas/1000)
    });
    socket.on('connect', function() {
        socket.emit('getLastData',{'device_id': '{{device.id}}'});
    });
</script>
</html>